body {
    background: linear-gradient(135deg, #cfd9df 0%, #e2ebf0 100%);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.bmi-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #ffffff; 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.bmi-wrapper:hover {
    transform: scale(1.02);
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.image-item {
    text-align: center;
}

.profile-img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #C45A3D;
}

.bmi-chart table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}

.bmi-chart th, .bmi-chart td {
    border: 1px solid #ddd; 
    padding: 8px; 
}

.alert-custom {
    background-color: #A8BBA1; 
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    color: #4E3B31; 
}

.go-to-top {
    background-color: #C45A3D; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-to-top:hover {
    background-color: #4E3B31; 
}

.benefits-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 5px;
    margin: 10px 0;
}

.benefit-item {
    flex: 1 1 200px; /* Allows items to shrink and grow */
    max-width: 300px; /* Prevents from getting too wide */
    background-color: #c4f2fb; 
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #087990; 
}


/* General Styling for the BMI Result Section */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.display-result {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

#bmi-meaning {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #007bff;
}

.bmi-result-container {
    margin-top: 20px;
}

progress {
    width: 100%;
    height: 25px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: #f0f0f0;
}

progress::-webkit-progress-bar {
    border-radius: 12px;
}

progress::-webkit-progress-value {
    border-radius: 12px;
}

.bmi-progress-underweight {
    background-color: #99ccff;
}

.bmi-progress-normal {
    background-color: #66cc66;
}

.bmi-progress-overweight {
    background-color: #ffcc00;
}

.bmi-progress-obese {
    background-color: #ff3333;
}

/* Responsive Styling */
@media (max-width: 767px) {
    .card-title {
        font-size: 2rem;
    }

    .display-result {
        font-size: 1.5rem;
    }

    #bmi-meaning {
        font-size: 1.2rem;
    }
}

